
.filter-section{
  display:flex;
  align-items: center;
  gap:20px;
}
.filter-section .filter{
  background-color: #F3F2F2;
  padding: 13px 16px;
}
.filter-section .custom-filter{
  background: #F3F2F2;
    border: none;
    width: 208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-section .custom-filter:focus-visible{
  outline:transparent !important;
  box-shadow: none;
}
.filter-btn{
  display:none
}