
.filter-section{
  display:flex;
  align-items: center;
  gap:20px;
}
.filter-section .filter{
  background-color: #F3F2F2;
  padding: 13px 16px;
}
.filter-section .custom-filter{
  background: #F3F2F2;
    border: none;
    width: 208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-section .custom-filter:focus-visible{
  outline:transparent !important;
  box-shadow: none;
}
.filter-btn{
  display:none
}

@media screen and (max-width:768px){
  .filter-btn{
  display:block;
}
  .filter-section .filter{
     margin-top:20px;  
  }
.filter-btn span svg{
  width:16px;
  height:16px;
  vertical-align:middle;
}
  
.filter-section .custom-filter{
  width:100%;
}
  .filter-section {
    display: none;
    transition: all 0.3s ease;
  }
  .filter-section.active {
    display: block;
  }
}