
.filter-section{
  display:flex;
  align-items: center;
  gap:20px;
}
.filter-section .filter{
  background-color: #F3F2F2;
  padding: 13px 16px;
}
.filter-section .custom-filter{
  background: #F3F2F2;
    border: none;
    width: 208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:15px;
}
.filter-section .custom-filter:focus-visible{
  outline:transparent !important;
  box-shadow: none;
}
.filter-btn{
  display:none
}
.custom-filter {
  appearance: none;               
  -webkit-appearance: none;       
  -moz-appearance: none;          
  /* background: url('arrow-down.svg') no-repeat right 10px center;  */
  background:#000;
  background-size: 12px;          
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

@media screen and (max-width:768px){
  .filter-btn{
    display: flex !important;
        align-items: center;
        background-color: transparent !important;
        border: 1px solid #000;
        padding: 6px 12px;
        width: max-content !important;
        font-weight: 700;
        font-size: 14px;
        line-height: 19.07px;
        letter-spacing: 0;
        text-align: center;
        height: 2.5rem !important;
        border-radius: 20px;
}
 .filter-btn p{
   color:#000;
   font-size:14px;
   font-weight:700;
 }  
  .filter-section .filter{
     margin-top:20px;  
  }
  .filter-btn span{
    margin-left:8px;
  }
.filter-btn span svg{
  width:13px;
  height:16px;
  vertical-align: -.125em;
}
  
.filter-section .custom-filter{
  width:100%;
}
  .filter-section {
    display: none;
    transition: all 0.3s ease;
  }
  .filter-section.active {
    display: block;
  }
}